{% extends "components/board/detail/layout.html" %}
{% block title %}Order Item Detail{% endblock %}</title>
{% block board_name %}
    Order Item
{% endblock %}
{% block buttons %}
    {# <a href="javascript:history.back()">뒤로가기</a> #}
    <button type='button' onclick="window.history.back()" style="display: inline-block;">뒤로가기</button>
{% endblock %}
{% block table_content %}
    <table>
        <col width=33%"></col>
        <col width="33%"></col>
        <col width="33%"></col>
        <tr>
            {% for header in data.keys() %}
            <th>{{header}}</th>
            {% endfor %}
        </tr>
        <tr>
            {% for key in data.keys() %}   
                {% if key == 'order id' %}
                    <td><a href = "{{ url_for('order.order_board_detail', id = data[key]) }}">{{data[key]}}</a></td> 
                {% elif key == 'item id' %}
                    <td><a href = "{{ url_for('item.item_board_detail', id = data[key]) }}">{{data[key]}}</a></td> 
                {% else %}
                    <td>{{data[key]}}</td>
                {% endif %}
            {% endfor %}
        </tr>
    </table>
{% endblock %}