{% extends "components/board/detail/layout.html" %}
{% block title %}Order Detail{% endblock %}</title>
{% block board_name %}
    Order
{% endblock %}
{% block buttons %}
    {# <a href="javascript:history.back()">뒤로가기</a> #}
    <button type='button' onclick="window.history.back()" style="display: inline-block;">뒤로가기</button>
{% endblock %}
{% block relative_detail_header %}{% if data %}상품 주문 정보{% endif %}{% endblock %}
{% block relative_detail_content %}
    {% if data %}
    <table>
        <col width="28%"></col>
        <col width="28%"></col>
        <col width="28%"></col>
        <col width="16%"></col>
        <tr>
            {% for header in data[0].keys() %}
            <th>{{header}}</th>
            {% endfor %}
        </tr>
        {% for dic in data %}
        <tr>
            {% for value in dic.values() %}
            <td>{{value}}</td>
            {% endfor %}
        </tr>
        {% endfor %}
    </table>
    {% endif %}
{% endblock %}