{% extends 'components/board/list/layout.html' %}
{% block title %}Store List{% endblock %}
{% block board_name %}Stores{% endblock %}
{% block search_bar %}
    <div class="search_bar">
        <!-- Name, Type, Address 스타벅스 홍대8호점,스타벅스,부산 강남구 31로 50 : 어떤 검색 필터 기능을 추가할 것인지 생각하기-->
        <form action="{{url_for('store.store_board_list')}}" method="get">
            <label for="name">Name </label>
            {% if not name %}
            <input type="text" id="name" name="name"/>
            {% else %}
            <input type="text" id="name" name="name" value="{{name}}" style="font-weight: 600;"/>
            {% endif %}
            <div class="space"></div>
            <label for="address">Address </label>
            {% if not address %}
            <input type="text" id="address" name="address"/>
            {% else %}
            <input type="text" id="address" name="address" value="{{address}}" style="font-weight: 600;"/>
            {% endif %}
            <div class="space"></div>
            <input type="submit" value="SEARCH">
        </form>
    </div>
{% endblock %}
{% block content %}
    <table>
        <col width="40%"></col>
        <col width="20%"></col>
        <col width="40%"></col>
        {% if page_datas %}
        {% set header = page_datas[0].keys() %}
        <tr>
            {% for value in header %}
            {% if value != 'id' %}
                <th>{{value}}</th>
            {% endif %}
            {% endfor %}
        </tr>
            {% for page_data in page_datas %}
            {% set id = page_data['id'] %}
            <tr onclick = window.location.href="{{ url_for('store.store_board_detail', id=id) }}">
                {% for key, value in page_data.items() %}
                    {% if key != "id" %}
                        <td>{{value}}</td>
                    {% endif %}
                {% endfor %}
            </tr>
            {% endfor %}
        {% else %}
            <tr><td colspan="5">NO DATA</td></tr>
        {% endif %}
    </table>
{% endblock %}
{% block paging %}
    <ul type="none">
        {% if page_list  %}
            {% if page_list[0] == 1 %}
            <li><a style="color:var(--bs-gray-600);">◀</a></li>
            {% else %}
            {% set pre_page_num = page_list[0]-3 %}
            <li><a class="pre_page_btn" href="{{ url_for('store.store_board_list', page_num=pre_page_num, name = name, address = address ) }}">◀</a></li>
            {% endif %}
        {% endif %}
        {% if page_list != None %}
            {% for page in page_list %}
                {% if page == page_num %}
                <li><a class="current_page" href="{{ url_for('store.store_board_list', page_num=page, name = name, address = address ) }}">{{page}}</a></li>
                {% else %}
                <li><a class="page_num" href="{{ url_for('store.store_board_list', page_num=page, name = name, address = address ) }}">{{page}}</a></li>
                {% endif %}
            {%endfor%}
        {% endif %}
        {% if page_list  %}
            {# jinja2의 주석 / len()함수 대신 "대상 | length 활용" #}
            {% set page_length = page_list | length %}
            {% set page_index = page_length-1 %}
            {% set next_page_num = page_list[page_index]+1 %}
            {% if page_list[page_index] == total_page %}
            <li><a style="color:var(--bs-gray-600); cursor:default">▶</a></li>
            {% else %}
            <li><a class="next_page_btn" href="{{ url_for('store.store_board_list', page_num=next_page_num, name = name, address = address ) }}">▶</a></li>
            {% endif %}
        {% endif %}
    </ul>
{% endblock %}