{% extends "components/board/detail/layout.html" %}
{% block title %}Item Detail{% endblock %}</title>
{% block board_name %}
    {% if not regist_status %}
        {# board_list에서 넘어온 상세 페이지일 경우 #}
        {{data['name']}}
    {% else %}
        {# 등록 후 상세 페이지일 경우 #}
        Item {{data['name']}} 등록 완료!
    {% endif %}
{% endblock %}
{% block buttons %}
    {# <a href="javascript:history.back()">뒤로가기</a> #}
    <button type='button' onclick="window.history.back()" style="display: inline-block;">뒤로가기</button>
    {% if regist_status %}
    <button type='button' onclick="window.location.href='{{url_for('common.home')}}'" style="display: inline-block;">홈으로 가기</button>
    {% endif %}
{% endblock %}
{% block table_content %}
    <table>
        <col width="40%"></col>
        <col width="20%"></col>
        <col width="20%"></col>
        <col width="20%"></col>
        <tr>
            {% for header in data.keys() %}
            <th>{{header}}</th>
            {% endfor %}
        </tr>
        <tr>
            {% for value in data.values() %}
            <td>{{value}}</td>
            {% endfor %}
        </tr>
    </table>
{% endblock %}
{% block relative_detail_header %}{% if monthly_sales %}월별 매출 정보{% endif%}{% endblock %}
{% block relative_detail_content %}
    {% if monthly_sales %}
    <button class="graph_hide_btn" type='button' onclick="monthly_revenu_graph_hide()" style="display: inline-block;margin-right:10px">테이블</button><button class="table_hide_btn" type='button' onclick="monthly_revenu_table_hide()" style="display: inline-block;">그래프</button>
    <table class="monthly_revenu_table">
        <col width="20%"></col>
        <col width="40%"></col>
        <col width="40%"></col>
        <tr>
            {% for header in monthly_sales[0].keys() %}
            <th>{{header}}</th>
            {% endfor %}
        </tr>
        {% for dic in monthly_sales %}
        <tr>
            {% for key, value in dic.items() %}
                <td>{{value}}</td>
            {% endfor %}
        </tr>
        {% endfor %}
    </table>
    <div class = "item_charts" >
        <div  style = "width : 45%">
            <canvas id="revenue_chart"></canvas>
        </div>
        <div style = "width : 45%">
            <canvas id="count_chart"></canvas>
        </div>
    </div>    
    <script> 
        var monthly_sales_label = {{ monthly_sales_label | tojson }} 
        var monthly_sales_sale_value = {{ monthly_sales_sale_value | tojson }} 
        var monthly_sales_count_value = {{ monthly_sales_count_value | tojson }}
    </script>
    <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
    <script src="{{ url_for('static', filename='js/item_monthly_revenue.js') }}"></script>
    {% endif %}
{% endblock %}
