{% extends "components/board/detail/layout.html" %}
{% block title %}User Detail{% endblock %}</title>
{% block board_name %}
    {% if not regist_status %}
        {# board_list에서 넘어온 상세 페이지일 경우 #}
        User {{user_data['name']}}
    {% else %}
        {# 등록 후 상세 페이지일 경우 #}
        User {{user_data['name']}} 등록 완료!
    {% endif %}
{% endblock %}
{% block buttons %}
    {# <a href="javascript:history.back()">뒤로가기</a> #}
    <button type='button' onclick="window.history.back()" style="display: inline-block;">뒤로가기</button>
    {% if regist_status %}
    <button type='button' onclick="window.location.href='{{url_for('common.home')}}'" style="display: inline-block;">홈으로 가기</button>
    {% endif %}
{% endblock %}
{% block table_content %}
    <table>
        <col width=30%"></col>
        <col width="15%"></col>
        <col width="11%"></col>
        <col width="6%"></col>
        <col width="20%"></col>
        <col width="18%"></col>
        <tr>
            {% for header in user_data.keys() %}
            <th>{{header}}</th>
            {% endfor %}
        </tr>
        <tr>
            {% for value in user_data.values() %}
            <td>{{value}}</td>
            {% endfor %}
        </tr>
    </table>
{% endblock %}

{% block relative_detail_header %}{% if user_order_data %}주문정보{% endif%}{% endblock %}
{% block relative_detail_content %}
    {% if user_order_data %}
    <table>
        <col width="40%"></col>
        <col width="20%"></col>
        <col width="40%"></col>
        <tr>
            {% for header in user_order_data[0].keys() %}
            <th>{{header}}</th>
            {% endfor %}
        </tr>
        {% for dic in user_order_data %}
        <tr>
            {% for key, value in dic.items() %}
                {% if key == 'order id' %}
                    <td><a class="a_link" href="{{url_for('order_item.order_item_board_detail', id = value)}}">{{value}}</a></td>
                {% elif key == 'purchased location' %}
                    <td><a class="a_link" href="{{url_for('store.store_board_detail', id = value)}}">{{value}}</a></td>
                {% else%}
                    <td>{{value}}</td>
                {% endif %}
            {% endfor %}
        </tr>
        {% endfor %}
    </table>
    {% endif %}
    {% if user_visit_store_top_five_data %}
    <hr style="margin-top:80px;height:3px;background-color: var(--bs-gray-700);">
    <h3>자주 방문한 매장</h3>
    <table>
        <tr>
            <th width="25%">순위</th>
            <th width="50%">방문 매장</th>
            <th width="25%">방문 횟수</th>
        </tr>
        {% for uvstf in user_visit_store_top_five_data %}
        <tr>
            <td>{{ loop.index }}</td>
            {% for u in uvstf.values() %}
                <td>{{u}}</td>
            {% endfor %}
        </tr>
        {% endfor %}
    </table>
    {% endif %}
    {% if user_purchase_item_top_five_data %}
    <hr style="margin-top:80px;height:3px;background-color: var(--bs-gray-700);">
    <h3>자주 주문한 상품명</h3>
    <table>
        <tr>
            <th width="25%">순위</th>
            <th width="50%">상품명</th>
            <th width="25%">구매 횟수</th>
        </tr>
        {% for upitf in user_purchase_item_top_five_data %}
        <tr>
            <td>{{ loop.index }}</td>
            {% for ui in upitf.values() %}
                <td>{{ui}}</td>
            {% endfor %}
        </tr>
        {% endfor %}
    </table>
    {% endif %}
{% endblock %}