{% extends 'components/board/list/layout.html' %}
{% block title %}User List{% endblock %}
{% block board_name %}Users{% endblock %}
{% block search_bar %}
    <div class="search_bar">
    <form action="/user/board/list" method="get">
        <label for="name">Name </label>
        {% if not name %}
        <input type="text" id="name" name="name"/>
        {% else %}
        <input type="text" id="name" name="name" value="{{name}}" style="font-weight: 600;"/>
        {% endif %}

        <div class="space"></div>
        <label for="gender">Gender </label>
        <select name="gender" id="gender" name="gender">
            {% if not gender %}
            <option value="" selected>Both</option>
            <option value="Female">Female</option>
            <option value="Male">Male</option>
            {% elif gender == "Female" %}
            <option value="">Both</option>
            <option value="Female" selected>Female</option>
            <option value="Male">Male</option>
            {% else %}
            <option value="">Both</option>
            <option value="Female">Female</option>
            <option value="Male" selected>Male</option>
            {% endif %}
        </select>
        <div class="space"></div>
        <input type="submit" value="SEARCH">
    </form>
    </div>
{% endblock %}
{% block content %}
    <table>
        <col width="21%"></col>
        <col width="17%"></col>
        <col width="12%"></col>
        <col width="26%"></col>
        <col width="24%"></col>
        {% if page_datas %}
        {% set header = page_datas[0].keys() %}
        {% set key_list = ['id','login_id','login_pwd'] %}
        <tr>
            {% for value in header %}
            {% if value not in key_list %}
                <th>{{value}}</th>
            {% endif %}
            {% endfor %}
        </tr>
            {% for page_data in page_datas %}
            {% set id = page_data['id'] %}
            <tr class = 'tr_hover' onclick = window.location.href="{{ url_for('user.user_board_detail', id=id) }}">
                {% for key, value in page_data.items() %}
                    {% if key not in key_list %}
                        <td>{{value}}</td>
                    {% endif %}
                {% endfor %}
            </tr>
            {% endfor %}
        {% else %}
            <tr><td colspan="5">NO DATA</td></tr>
        {% endif %}
    </table>
{% endblock %}
{% block paging %}
    <ul type="none">
        {% if page_list  %}
            {% if page_list[0] == 1 %}
            <li><a style="color:var(--bs-gray-600);">◀</a></li>
            {% else %}
            {% set pre_page_num = page_list[0]-3 %}
            <li><a class="pre_page_btn" href="{{ url_for('user.user_board_list', page_num=pre_page_num, name=name, gender=gender) }}">◀</a></li>
            {% endif %}
        {% endif %}
        {% if page_list != None %}
            {% for page in page_list %}
                {% if page == page_num %}
                <li><a class="current_page" href="{{ url_for('user.user_board_list', page_num=page, name=name, gender=gender) }}">{{page}}</a></li>
                {% else %}
                <li><a class="page_num" href="{{ url_for('user.user_board_list', page_num=page, name=name, gender=gender) }}">{{page}}</a></li>
                {% endif %}
            {%endfor%}
        {% endif %}
        {% if page_list  %}
            {# jinja2의 주석 / len()함수 대신 "대상 | length 활용" #}
            {% set page_length = page_list | length %}
            {% set page_index = page_length-1 %}
            {% set next_page_num = page_list[page_index]+1 %}
            {% if page_list[page_index] == total_page %}
            <li><a style="color:var(--bs-gray-600); cursor:default">▶</a></li>
            {% else %}
            <li><a class="next_page_btn" href="{{ url_for('user.user_board_list', page_num=next_page_num, name=name, gender=gender) }}">▶</a></li>
            {% endif %}
        {% endif %}
    </ul>
{% endblock %}