{% extends 'components/register/layout.html' %}
{% block title %}Store Register{% endblock %}
{% set header_str = "Store Register" %}
{% set url = "{{url_for('store.store_register')}}" %}
{% block content %}
    {% block register_content %}
        <div class="store_register_content">
            <form action="{{ url_for('store.store_register') }}" method="post">
                <table>
                    <!--Type-->
                    <tr>
                        <td><label for="type">Type </label></td>
                        <td>
                            <select name="type" id="type">
                                {% set type_list = [ '투썸', '스타벅스', '이디야', '커피빈' ] %}
                                {% for type in type_list %}
                                <option value="{{type}}">{{type}}</option>
                                {% endfor %}
                            </select>
                        </td>
                    </tr>
                    <!--Local-->
                    <tr>
                        <td><label for="local">Local </label></td>
                        <td><input type = "text" name = "local" id = "local" placeholder=" (ex) 홍대"/></td>
                    </tr>
                    <!--store num-->
                    <tr>
                        <td><label for="store_num">Store Number </label></td>
                        <td><input style="width : 70%" type = "text" name = "store_num" id = "store_num" placeholder="(ex) 2" /><span style="display:inline-block;float: right;">호점</span></td>
                    </tr>
                    <!--address-->
                    <tr>
                        <td><label for="address">Address </label></td>
                        <td><input type = "text" name = "address" placeholder="(ex) 서울시 강동구" id = "address"></td>
                    </tr>
                    <!-- 유효성 -->
                    {% if is_empty %}
                    <tr>
                        <td colspan="2" style="font-size: 1em; color: var(--bs-warning);font-style: oblique;padding:10px;">데이터가 모두 입력되지 않았거나 올바르게 입력되지 않았습니다.</td>
                    </tr>
                    {% endif %}
                </table>
                <div class="store_register_btn">
                    <input type="submit" value="등록하기"></td>
                    <button type="button" onclick = "window.location.href = '/'">취소하기</button>
                </div>
            </form>
        </div>
    {% endblock %}
{% endblock %}