{% extends "components/board/detail/layout.html" %}
{% block title %}Order Detail{% endblock %}</title>
{% block board_name %}
    Order <span style="font-size : 60%;font-weight: 500;">{{data['id']}}</span>
{% endblock %}
{% block buttons %}
    {# <a href="javascript:history.back()">뒤로가기</a> #}
    <button type='button' onclick="window.history.back()" style="display: inline-block;">뒤로가기</button>
{% endblock %}
{% block relative_detail_content %}
    {% if data %}
    <table>
        <col width="28%"></col>
        <col width="28%"></col>
        <col width="28%"></col>
        <col width="16%"></col>
        <tr>
            {% for header in data.keys() %}
            <th>{{header}}</th>
            {% endfor %}
        </tr>
        <tr>
        {% for value in data.values() %}
            <td>{{value}}</td>
        {% endfor %}
        </tr>
    </table>
    {% endif %}
{% endblock %}